/* UTILS */

.tC {
  text-align: center;
}

.tR {
  text-align: right;
}

.m8 {
  margin: 8px;
}

/* SPECIFIC */

a {
  color: #0eaceb !important;
}

strong {
  font-size: larger;
  font-weight: 800;
}

a:hover {
  color: #0dbaff !important;
}

.big-image {
  height: 80vh !important;
}
