.shopping-cart-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 16px;
  border-radius: 4px;
}

.shopping-cart-wrapper.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.shopping-cart-text {
  font-size: 20px;
  margin-left: 4px;
}

.shopping-cart-contents {
  position: absolute;
  right: 0;
  top: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #404040;
  width: 300px;
  cursor: initial;
}

.shopping-cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.shopping-cart-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.shopping-cart-item-main {
  margin-left: 16px;
  flex: 1 0;
}

.shopping-cart-item-image {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart-item-name {
  font-size: 24px;
  font-weight: 700;
}

.shopping-cart-item-price {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 400;
}

.shopping-cart-item-remove {
  padding: 8px;
  cursor: pointer;
}
