html {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
  color: #404040;
}

/* COLORS */

.primary {
  color: #1565c0;
  /* 
    primary-light: #5e92f3  
    primary-dark: #003c8f
  */
}
.primary-bg {
  background-color: #1565c0;
}

.text-color {
  color: #fff;
}

.background-color {
  background-color: white;
}

/* ICONS */

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
